.admin-bar
  background: $color-light-bg
  box-sizing: border-box
  border: 1px solid $color-border
  font-size: $font-size-sm
  position: fixed
  right: 0
  top: 100px
  text-align: right

  a
    box-sizing: border-box
    color: $color-text
    display: block
    padding: 2px 10px

    &:hover
      background: $color-brand
      color: $color-text-on-brand
