.assets

  &:after
    content: ''
    clear: both
    display: table

  &-asset
    float: left
    height: 300px
    margin: 0 20px 0 0
    width: 230px

    &-image
      display: block
      height: 200px
      width: 100%
      margin-bottom: 10px

      &-thumbnail
        background-color: $color-light-bg
        background-position: center
        background-repeat: no-repeat
        background-size: contain
        box-shadow: 0 2px 2px 3px rgba(0, 0, 0, .05)
        height: 100%
        width: 100%

    &-meta
      font-size: $font-size-sm
      line-height: $line-height-sm - 2

      &-title
        font-weight: bold
        margin: 10px 0 2px

      &-link
        margin-bottom: 2px

        a
          font-weight: bold
