$semibold: 400
$bold: 600

$font-family: 'Roboto', arial, sans-serif
$font-size-sm: 13px
$font-size-lg: 24px

$color-border: #e0e0e0
$color-brand: #00b8d4
$color-light-bg: #fafafa
$color-text-on-brand: white
$color-text: #333

$pad-md: 20px
$pad-lg: 40px
$pad-xx: 80px
