$normal: 300
$semibold: 400
$bold: 600

$font-family: 'Roboto', arial, sans-serif
$font-size-sm: 13px
$font-size: 14px
$font-size-md: 18px
$font-size-lg: 24px

$max-content-width-sm: 650px
$max-content-width: 1000px

$line-height-sm: 20px
$line-height: 22px;

$color-border: #e0e0e0
// $color-brand: #00b8d4
$color-brand: #039BE5
$color-light-bg: #fafafa
$color-text-on-brand: white
$color-text: #333
$color-grey: #888
$color-grey-alt: #757575
$color-light-bg-hover: rgba(0, 0, 0, .1)

$pad-xs: 5px
$pad-sm: 10px
$pad-md: 20px
$pad-lg: 40px
$pad-xx: 80px
