.body--drawer-enabled
  .downloadbar
    left: 0

.downloadbar-mask
  display: none
  position: fixed
  z-index: 4
  top: 0
  bottom: 0
  right: 0
  left: 0

  &--visible
    display: block

.downloadbar 
  background: #4BA6EF
  bottom: 0
  box-shadow: 0 0 8px rgba(0, 0, 0, .25)
  color: black
  font: 400 16px/1 "Roboto","Helvetica",arial,sans-serif
  left: 270px
  padding: 15px
  position: fixed
  transform: translateY(120px)
  transition: all 200ms ease
  opacity: 0
  visibility: hidden
  z-index: 5
  right: 0

  &--visible
    opacity: 1
    visibility: visible
    transform: translateY(0)

  .loading-spinner
    svg path,
    svg rect
      fill: #000

  a
    color: inherit

  .contained
    max-width: 1100px

  .downloadbar-preview
    background: #fff
    border: 1px solid #efefef;
    bottom: 51px;
    display: none;
    margin-left: -20px;
    padding: 20px
    position: absolute

    .downloadbar-preview__item__image
      padding: 5px
      text-align: center
      img
        max-height: 100px
        max-width: 100%

  .downloadbar-col
    border-right: 1px solid rgba(0, 0, 0, .18);
    display: inline-block
    margin-right: 15px
    padding-right: 15px

    &:last-child
      border-right: none
      margin-left: 20px
      margin-top: 8px
      float: right;

    &--centered
      float: none !important;
      margin: 0 !important;
      padding: 5px 0;
      text-align: center;
      width: 100%;

    &--title
      font-weight: bold

      & > span
        display: inline-block
        padding: 10px 10px 10px 0

    &--cta
      margin-right: 0
      padding-right: 0

      a
        color: #000
        text-transform: uppercase
        transition: all 100ms

        &:hover
          color: #fff
          text-decoration: none

      i
        margin-right: 5px
        vertical-align: middle

      &--disabled
        opacity: .15
        pointer-events: none

    select
      background: none
      border-radius: 0
      border: none
      color: #000
      cursor: pointer
      display: inline-block
      font: 400 16px/1 "Roboto","Helvetica",arial,sans-serif
      height: 36px
      min-width: 120px
      outline: none
      position: relative
      padding: 10px 35px 10px 0
      -webkit-appearance: none
      -moz-appearance: none

      &::-ms-expand
        display: none

    .downloadbar-col-select
      position: relative

      &:after
        content: '▾'
        display: block
        pointer-events: none
        position: absolute
        right: 7px
        top: calc(50% - 9px)
        vertical-align: middle
