$side-width: 270px
$header-height: 70px

.layout
  &-side
    background: $color-light-bg
    border-right: 1px solid $color-border
    bottom: 0
    box-sizing: border-box
    left: 0
    position: fixed
    overflow-y: auto
    top: 0
    width: $side-width

    &-top
      border-bottom: 1px solid $color-border
      font-size: $font-size-sm
      margin-bottom: $pad-md
      // height: $header-height
      box-sizing: border-box
      padding: $pad-md
      line-height: $header-height - 2 * $pad-md

      a
        color: $color-text
        font-size: $font-size-md

      &-logo
        vertical-align: middle
        max-width: 100% 
        // opacity: .5

      &-subtitle
        display: none

    &-bottom
      font-size: $font-size-sm
      padding: $pad-md
      line-height: $line-height-sm

    &-bordered
      border-top: 1px solid $color-border
      border-bottom: 1px solid $color-border
      margin: $pad-md 0 0 0
      padding-top: $pad-md
      padding-bottom: $pad-md

    .menu--hidden
      display: none

    ul
      padding: 0
      margin: 0
      list-style: none
      font-size: $font-size-sm

      .active-item
        a
          color: $color-brand
          font-weight: $bold

      .active
        .material-icons
          transform: rotate(180deg)

      a
        color: $color-text
        display: block
        font-weight: $bold
        padding: $pad-xs $pad-xs $pad-xs $pad-md

        &:hover
          background-color: $color-light-bg-hover

        .material-icons
          float: right
          font-size: 20px
          opacity: .5

      .menu-item--active
        font-weight: bold
        color: $color-brand

      ul
        &:not(.menu--active)
          display: none

        &.menu-item-child
          display: none

        &.menu-item-child--open
          display: block

        &.active
          display: block

        a
          padding-left: $pad-md * 1.5
          font-weight: $semibold

        ul a
          padding-left: $pad-md * 2

        ul ul a
          padding-left: $pad-md * 2.5

  &-side + &-main
    left: $side-width

  &-main
    position: fixed
    left: 0
    right: 0
    bottom: 0
    top: 0

    &-content
      bottom: 0
      box-sizing: border-box
      left: 0
      overflow: auto
      padding: $pad-lg $pad-xx
      position: absolute
      right: 0
      top: $header-height

    &-header
      background: $color-brand
      box-shadow: 0 2px 2px 0 rgba(0,0,0,.2)
      box-sizing: border-box
      color: $color-text-on-brand
      height: $header-height
      line-height: $header-height
      padding: 0 $pad-xx
      position: relative
      z-index: 1

      a:not(.btn)
        color: $color-text-on-brand

      &-title
        font-weight: $semibold
        font-size: $font-size-lg
        float: left
      
      &-side
        float: right
        font-size: $font-size-sm
        font-weight: $semibold
        text-align: right
