$side-width: 270px
$header-height: 70px

.layout
  &-side
    background: $color-side
    border-right: 1px solid $color-border
    bottom: 0
    box-sizing: border-box
    left: 0
    overflow-y: auto
    position: fixed
    top: 0
    transition: 250ms ease
    width: $side-width
    z-index: 3

    &-top
      border-bottom: 1px solid $color-border
      font-size: $font-size-sm
      margin-bottom: $pad-md
      // height: $header-height
      box-sizing: border-box
      padding: $pad-md * .75 $pad-md
      line-height: $header-height - 2 * $pad-md

      a
        color: $color-text
        font-size: $font-size-md
        text-decoration: none

        &:hover
          text-decoration:none

      &-logo
        vertical-align: middle
        max-height: 40px
        max-width: 100% 

      &-subtitle
        margin-top: 5px

    &-bottom
      font-size: $font-size-sm
      padding: $pad-md
      line-height: $line-height-sm

    &-bordered
      border-top: 1px solid $color-border
      border-bottom: 1px solid $color-border
      margin: $pad-md 0 0 0
      padding-top: $pad-md
      padding-bottom: $pad-md

    .menu--hidden
      display: none

    ul
      padding: 0
      margin: 0
      list-style: none
      font-size: $font-size-sm

      li.menu-item-child--open
        .material-icons
          transform: rotate(180deg)

      .active-item
        a
          color: $color-brand-text
          font-weight: $bold

      .material-icons
        pointer-events: none

      a
        color: $color-text
        display: block
        font-weight: $bold
        padding: $pad-xs $pad-xs $pad-xs $pad-md

        &:hover
          background-color: $color-light-bg-hover
          text-decoration: none

        .material-icons
          float: right
          font-size: 20px
          opacity: .5
          transition: all 300ms ease

      .menu-item--active
        font-weight: bold
        color: $color-brand-text

      ul
        display: none

        &.menu-item-child
          display: none

        &.menu-item-child--open
          display: block

        &.active
          display: block

        a
          padding-left: $pad-md * 1.5
          font-weight: $semibold

        ul a
          padding-left: $pad-md * 2

        ul ul a
          padding-left: $pad-md * 2.5

        ul ul ul a
          padding-left: $pad-md * 3

        ul ul ul ul a
          padding-left: $pad-md * 3.5

  &-side + &-main
    left: $side-width

  &-main
    left: 0
    right: 0
    bottom: 0
    top: 0
    transition: 250ms ease

    &-content
      bottom: 0
      box-sizing: border-box
      margin-left: 270px
      overflow: auto
      padding: $header-height + $pad-lg $pad-xx
      right: 0
      transition: 250ms ease

    &-footer
      background: $color-brand
      box-shadow: 0 2px 2px 0 rgba(0,0,0,.2)
      margin-left: 270px
      transition: 250ms ease

      &:after
        content: ' '
        clear: both
        display: table

      .layout-main-footer-part
        box-sizing: border-box
        color: $color-text-on-brand
        display: inline-block
        float: left
        font-size: 20px
        font-weight: 500
        line-height: 24px
        position: relative
        width: 50%

        &--next
          float: right

        .layout-main-footer-part-caption
          display: block
          font-size: 15px
          line-height: 18px
          margin: 5px 0
          opacity: .55

        a
          box-sizing: border-box
          display: inline-block
          padding: $pad-md $pad-lg $pad-lg * .75
          color: $color-text-on-brand
          width: 100%

          i
            position: absolute

        &:first-child
          padding-left: $pad-xx

          i
            margin-left: -40px

        &:last-child
          text-align: right
          padding-right: $pad-xx

          i
            margin-left: 15px

    &-header
      background: $color-brand
      box-shadow: 0 2px 2px 0 rgba(0,0,0,.2)
      box-sizing: border-box
      color: $color-text-on-brand
      height: $header-height
      left: 270px
      right: 0
      line-height: $header-height
      transition: 250ms ease
      padding: 0 $pad-xx
      position: fixed
      z-index: 1

      .layout-main-header-menu
        display: none

      a:not(.btn)
        color: $color-text-on-brand

      &-title
        font-weight: $semibold
        font-size: $font-size-title
        float: left
      
      &-side
        float: right
        font-size: $font-size-sm
        font-weight: $semibold
        text-align: right

  &--wide
    .layout-main-header,
    .layout-main-content
      left: 0
      margin-left: 0

.body--drawer-enabled
  .layout-side
    left: -270px

  .layout-main,
  .layout-main-content,
  .layout-main-footer
    margin-left: 0

  .layout-main-header
    left: 0
    padding: 0 $pad-lg 0 0

    .layout-main-header-menu
      cursor: pointer
      display: inline-block
      float: left
      padding: 23px
      vertical-align: middle

.body--drawer-open
  .layout-side
    left: 0

  .layout-main-mask
    background: rgba(0,0,0,0.5)
    bottom: 0
    height: 100%
    left: 0
    position: fixed
    top: 0;
    width: 100%
    z-index: 2
