.table
  border-collapse: collapse
  width: 100%

  &--sm
    width: auto

  thead
    th,
    td
      text-align: left

  tr
    th,
    td
      border: 1px solid $color-border
      padding: 3px 5px

      img
        vertical-align: middle
        margin: 0 5px 0 0

  input[type=checkbox]
    height: 17px
    margin: 0
    vertical-align: middle
    width: 17px
