.toc
  border-left: 5px solid $color-brand
  padding-left: 2em
  font-size: $font-size-md
  line-height: $line-height-xl
  margin: $pad-xx 0 $pad-xx * 1.5

  &:before
    color: $color-grey
    content: 'Contents'
    display: block
    font-size: $font-size-sm
    margin: 0 0 $pad-sm

  ul
    list-style: none
    margin: 0
    padding: 0

    li
      line-height: $line-height-xl

      & > ul
        margin: 0 0 0 $pad-md
        padding: inherit

  ul.toc ul
    padding: .5em 1.5em 0 1.5em

  ul.toc li
    margin: .45em 0
