{% macro asset(path) -%}
/_app/{{config.VERSION}}/config/{{path}}
{%- endmacro %}

{% macro render_menu_tree(resource, active_resource=None) %}
  {% if resource.resource_type == 'Folder'
    and (resource.children['pages'] or resource.children['folders']) %}
    {% set has_children = true %}
  {% else %}
    {% set has_children = false %}
  {% endif %}
  <li class="{{"menu-item-child--open" if resource == active_resource}}"><a
    href="{{resource.url}}"
    class="{{"menu-item--folder" if has_children}} {{"menu-item--active" if resource == active_resource}}"
    >{{resource.title}}
    {% if has_children %}<i class="material-icons">expand_more</i>{% endif %}
    </a></li>
  {% if has_children %}
    <ul class="menu-item--child {{"menu-item-child--open" if resource in [folder, page]}}">
      {% for item in resource.children['folders'] %}
        {{render_menu_tree(item, active_resource=active_resource)}}
      {% endfor %}
      {% for item in resource.children['pages'] %}
        {{render_menu_tree(item, active_resource=active_resource)}}
      {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}

{% macro render_admin_bar(resource) %}
<div class="admin-bar">
  <a href="{{uri_for('admin')}}">Admin</a>
  <a href="{{resource.edit_url}}">Edit</a>
  <a href="{{resource.sync_url}}">Sync</a>
  <a href="{{uri_for('delete', resource_id=resource.resource_id)}}">Delete</a>
</div>
{% endmacro %}

{% macro render_mosaic(resource_id) %}
  {% include "_mosaic.html" with context %}
{% endmacro %}

{% macro render_assets(assets) %}
  <div class="assets">
    {% for group in assets|groupby('basename') %}
      <div class="assets-asset">
        <div class="assets-asset-image">
          {% if group.list[0].title.endswith('.eps')
              and group.list[1]
              and not group.list[1].title.endswith('.eps') %}
            {% set thumbnail_item = group.list[1] %}
          {% else %}
            {% set thumbnail_item = group.list[0] %}
          {% endif %}
          <div class="assets-asset-image-thumbnail" style="background-image: url({{thumbnail_item.thumbnail_url}})"></div>
        </div>
        <div class="assets-asset-meta">
          <div class="assets-asset-meta-title">
            {{thumbnail_item.title}}
          </div>
          {% for item in group.list %}
            <div class="assets-asset-meta-link">
              <a href="{{item.download_url}}">{{item.ext[1:]|upper}}</a> {{item.size|filesizeformat}}</li>
            </div>
          {% endfor %}
        </div>
      </div>
    {% endfor %}
  </div>
{% endmacro %}
