{% macro asset(path) -%}
/_app/{{config.VERSION}}/config/{{path}}
{%- endmacro %}

{% macro render_menu_tree(resource, config, active_resource=None) %}
  {% if resource['folder'] %}
    {% set resource = resource['folder'] %}
  {% endif %}
  {% if resource.resource_type == 'Folder'
    and (resource.children['pages'] or resource.children['folders'])
    and not resource.is_asset_folder %}
    {% set has_children = true %}
  {% else %}
    {% set has_children = false %}
  {% endif %}
  {% set url = resource.url %}
  {% if has_children %}
    {% set url = "javascript:" %}
  {% endif %}
  <li class="{{"menu-item-child--open" if resource == active_resource or config.keep_folders_open}}"><a
    href="{{url}}"
    class="{{"menu-item--folder" if has_children}} {{"menu-item--active" if resource == active_resource}}"
    >{{resource.title}}
    {% if not config.keep_folders_open %}
      {% if has_children %}<i class="material-icons">expand_more</i>{% endif %}
    {% endif %}
    </a></li>
  {% if has_children %}
    <ul class="menu-item--child {{"menu-item-child--open" if resource in [folder, page] or config.keep_folders_open}}">
      {% for item in resource.children['folders'] %}
        {{render_menu_tree(item, config, active_resource=active_resource)}}
      {% endfor %}
      {% for item in resource.children['pages'] %}
        {{render_menu_tree(item, config, active_resource=active_resource)}}
      {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}

{% macro render_admin_bar(resource) %}
<div class="admin-bar" ng-controller="SyncController as ctrl">
  <a href="{{uri_for('admin')}}">Admin</a>
  <a href="{{resource.edit_url}}">Edit</a>
  <a href="javascript:" ng-click="ctrl.sync('{{resource.parent.resource_id}}')">Sync Folder</a>
  <a href="javascript:" ng-click="ctrl.sync('{{resource.resource_id}}')">Sync Page</a>
  <a href="{{uri_for('delete', resource_id=resource.resource_id)}}">Delete</a>
</div>
{% endmacro %}

{% macro render_mosaic(resource_id) %}
  {% include "_mosaic.html" with context %}
{% endmacro %}

{% macro render_assets(assets) %}
  <div class="assets">
    {% for group in assets|groupby('basename') %}
      <div class="assets-asset">
        <div class="assets-asset-image">
          {% if group.list[0].title.endswith('.eps')
              and group.list[1]
              and not group.list[1].title.endswith('.eps') %}
            {% set thumbnail_item = group.list[1] %}
          {% else %}
            {% set thumbnail_item = group.list[0] %}
          {% endif %}
          <div class="assets-asset-image-thumbnail" style="background-image: url({{thumbnail_item.thumbnail_url}})"></div>
        </div>
        <div class="assets-asset-meta">
          <div class="assets-asset-meta-title">
            {{thumbnail_item.title}}
          </div>
          {% for item in group.list %}
            <div class="assets-asset-meta-link">
              <a href="{{item.download_url}}">{{item.ext[1:]|upper}}</a> {{item.size|filesizeformat}}</li>
            </div>
          {% endfor %}
        </div>
      </div>
    {% endfor %}
  </div>
{% endmacro %}
