{% extends "admin.html" %}

{% block main %}
  <h2>{{approval.user.email}}</h2>

  <div ng-controller="ApprovalController as ctrl" data-approval-ident="{{approval.ident}}" ng-cloak>
    <div class="form-field">
      <a href="javascript:" class="btn btn--sm" ng-click="ctrl.updateStatus(true, ctrl.sendEmailToApprovals)">Approve</a>
      <a href="javascript:" class="btn btn--sm" ng-click="ctrl.updateStatus(false, ctrl.sendEmailToApprovals)">Reject</a>
      <label>
        <input type="checkbox" ng-model="ctrl.sendEmailToApprovals">
        Send email notification to users upon response
      </label>
    </div>
    <ul>
      <li><b>Name</b>: [[ctrl.approval.form.first_name]] [[ctrl.approval.form.last_name]]</li>
      <li><b>Status</b>: [[ctrl.approval.status]]</li>
      <li><b>Updated</b>:
        [[ctrl.approval.updated|date:"short"]]
        <span ng-if="ctrl.approval.updated_by">
          by [[ctrl.approval.updated_by.email]]
        </span>
      </li>
    </ul>
    <hr class="hr--sm">
    <form class="form">
      <h3>Access to folders</h3>
      <a class="btn btn--sm" ng-click="ctrl.updateStatus(true, ctrl.sendEmailToApprovals)">Approve</a>
      <ul>
        {% for item in nav[1:] %}
          {% if 'folder' not in item %}
            {% continue %}
          {% endif %}
          {% set folder = item['folder'] %}
          {# Do not include "overview" folder. #}
          {% if folder.weight == -1 %}{% continue %}{% endif %}
          <li><label><input type="checkbox" ng-change="ctrl.update(ctrl.approval, ctrl.folderChoices)" ng-model="ctrl.folderChoices['{{folder.resource_id}}']"> {{folder.title}}</label></li>
        {% endfor %}
      </ul>
    </form>
    <hr class="hr--sm">
    <form class="form" ng-submit="ctrl.updateForm()">
      <h3>Form response</h3>
      <div class="form-field">
        <button type="submit" class="btn btn--inverted btn--sm">Update</button>
      </div>
      <table class="table" ng-show="ctrl.approval.form">
        <thead>
          <tr>
            <th>Question</th>
            <th>Response</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="(key, val) in ctrl.approval.form" ng-if="key != 'folders'">
            <td>[[key]]</td>
            <td><textarea class="form-field-control" ng-model="ctrl.approval.form[key]"></textarea></td>
          </tr>
        </tbody>
      </table>
    </form>
  </div>

{% endblock %}
