{% set title = "Approvals" %}
{% extends "admin.html" %}

{% block main %}

<h2>Direct add users</h2>

<div ng-controller="ApprovalsController as ctrl" ng-cloak>
  <form ng-submit="ctrl.submit(ctrl.emails, ctrl.sendEmail)" class="form">
    <div class="form-field">
      <label><input type="checkbox" ng-model="ctrl.sendEmail">Send email notification to added users</label>
    </div>
    <div class="form-field">
      <textarea class="form-field-control form-field-control--wide" ng-model="ctrl.emails" placeholder="Enter emails, separated by commas"></textarea>
    </div>
    <div class="form-field">
      <button class="btn btn--sm" type="submit" role="button">Add users</button>
    </div>
  </form>

  <form class="form" enctype="multipart/form-data" method="post" action="/admin/importcsv">
    <input type="file" name="file">
    <button type="submit">Upload</button>
  </form>

  <hr>

  <h2>Users</h2>

  <div ng-show="ctrl.approvals.length">
    <div class="push-sm--bottom">
      <label>
        <input type="checkbox" ng-model="ctrl.sendEmailToApprovals">
        Send email notification to users upon response
      </label>
    </div>

    <form>
      <div class="form-field">
        <a href="javascript:" class="btn btn--sm" ng-click="ctrl.updateSelected(true, ctrl.sendEmailToApprovals)">Approve selected</a>
        <a href="javascript:" class="btn btn--sm" ng-click="ctrl.updateSelected(false, ctrl.sendEmailToApprovals)">Reject selected</a>
        <a style="float: right" href="?format=csv" class="btn btn--inverted btn--sm">Download CSV</a>
      </div>
    </form>

    <table class="table">
      <thead>
        <th>
          <input type="checkbox" ng-model="approval.selected" ng-click="ctrl.toggleSelectAll()">
        </th>
        <th>Status</th>
        <th>Email</th>
        <th>Date</th>
        <th>Response by</th>
        <th>Action</th>
      </thead>
      <tbody>
        <tr ng-repeat="approval in ctrl.approvals">
          <td>
            <input type="checkbox" ng-model="approval.selected">
          </td>
          <td>
            [[approval.status]]
          </td>
          <td>
            <a target="_blank" ng-href="./[[approval.ident]]/">[[approval.user.email || approval.form.company_email]]</a>
          </td>
          <td>
            [[approval.created|date:"short"]]
          </td>
          <td>[[approval.updated_by.email]]</td>
          <td>
            <a href="javascript:" ng-click="ctrl.deleteApproval(approval.ident)">Delete</a>
          </td>
        </tr>
      </tbody>
    </table>
    <p ng-if="ctrl.hasMore">
    <a href="javascript:" ng-click="ctrl.searchApprovals(ctrl.nextCursor)">More...</a>
    </p>
  </div>
  <div ng-show="ctrl.loading">
    {{macros.render_loading_spinner()}}
  </div>
</div>
{% endblock %}
