{% extends "admin.html" %}

{% block main %}
  <h2>Settings</h2>

  <form class="form" method="post" ng-controller="SettingsController as ctrl" ng-submit="ctrl.updateSettings(ctrl.settings)" ng-show="ctrl.settings" ng-cloak>
    {% for field in settings.fields|sort(attribute="name") %}
    <div class="form-field">
      <label class="form-field-label">{{field.name}}</label>
      <textarea class="form-field-control form-field-control--wide" name="{{field.name}}" ng-model="ctrl.settings.{{field.name}}">{{field.value or ''}}</textarea>
    </div>
    {% endfor %}
    <div class="form-field">
      <button class="btn" type="submit">Save</button>
    </div>
  </form>
{% endblock %}
