{% set title = title or "Admin" %}
{% extends "base.html" %}

{% block side %}
<ul>
  <li><a href="{{uri_for('admin')}}">Content</a></li>
  <li><a href="{{uri_for('admin-page', template='approvals')}}">Approvals</a></li>
  <li><a href="{{uri_for('admin-admins')}}">Administrators</a></li>
  <li><a href="{{uri_for('admin-page', template='downloads')}}">Downloads</a></li>
  <li><a href="{{uri_for('admin-settings')}}">Settings</a></li>
</ul>
{% endblock %}

{% block main %}
  <div class="contained">
  </div>
{% endblock %}
