{% extends "admin.html" %}

{% block main %}
<div ng-controller="FoldersController as ctrl" ng-cloak>
  <div class="form">
    <h2>Root folder</h2>
    <div class="form-field">
      <input class="form-field-control" value="{{config.CONFIG.folder}}" readonly>
    </div>
    <div class="form-field">
      <a class="btn btn--sm" href="https://drive.google.com/drive/folders/{{config.CONFIG.folder}}">Open in Google Drive</a>
      <a class="btn btn--sm" href="{{uri_for('sync')}}">Sync root folder</a>
    </div>
  </div>

  <h2>Sub-folders</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Synced</th>
        <th>Title</th>
        <th>Order</th>
        <th>Color</th>
        <th>Action</th>
      </tr>
    </thead>
    <tr ng-repeat="folder in ctrl.folders" class="form">
      <td>[[folder.synced]]</td>
      <td><a href="[[folder.url]]">[[folder.title]]</a></td>
      <td>[[folder.weight]]</td>
      <td>
        <input type="text" ng-model="folder.color" class="form-control form-control--sm">
      </td>
      <td>
        <a href="[[folder.edit_url]]">Edit</a>
        | <a href="javascript:startSync('[[folder.sync_url]]')">Sync</a>
      </td>
    </tr>
    {#
    <tr>
      <td colspan="100">
        No folders have been synced yet. Press <b>sync root folder</b> above to start.
      </td>
    #}
  </table>

  <h2>Sync results</h2>

  <blockquote class="logger"></blockquote>

  <script src="/_ah/channel/jsapi"></script>
  <script>
    var startSync = function(syncUrl) {
      $.get(syncUrl, null, function(resp) {
        var resp = JSON.parse(resp);
        sync(resp['token']);
      });
    };

    var sync = function(token) {
      var logEl = document.querySelector('blockquote');
      var channel = new goog.appengine.Channel(token);
      socket = channel.open();
      socket.onmessage = function(message) {
        var data = message['data'];
        data = JSON.parse(data);
        if (logEl.textContent) {
          logEl.appendChild(document.createElement('br'));
        }
        logEl.appendChild(document.createTextNode(data['message']));
      };
      return socket;
    };
  </script>
</div>
{% endblock %}
