{% extends "admin.html" %}

{% block main %}
<div ng-controller="FoldersController as ctrl" ng-cloak>
  <div class="form">
    <h2>Root folder</h2>
    <p>Ensure <b>{{config.CONFIG.service_account}}</b> has <b>edit access</b> to this folder.</p>
    <div class="form-field">
      <input class="form-field-control" value="{{config.CONFIG.folder}}" readonly>
    </div>
    <div class="form-field">
      <a class="btn btn--sm" href="https://drive.google.com/drive/folders/{{config.CONFIG.folder}}">Open in Google Drive</a>
      <a class="btn btn--sm" href="javascript:" ng-click="ctrl.syncAll()">Sync root folder</a>
    </div>
  </div>

  <h2>Sub-folders</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Synced</th>
        <th>Title</th>
        <th>Order</th>
        <th>Action</th>
      </tr>
    </thead>
    <tr ng-repeat="folder in ctrl.folders" class="form">
      <td>[[folder.synced]]</td>
      <td>
        <a href="[[folder.url]]">[[folder.title]]</a>
        <span ng-if="folder.draft">[draft]</span>
      </td>
      <td>[[folder.weight]]</td>
      <td>
        <a href="[[folder.edit_url]]">Edit</a>
        | <a href="javascript:" ng-click="ctrl.sync(folder.resource_id)">Sync</a>
      </td>
    </tr>
    {#
    <tr>
      <td colspan="100">
        No folders have been synced yet. Press <b>sync root folder</b> above to start.
      </td>
    #}
  </table>
  <br>
  <blockquote class="logger" id="sync-log">Sync status will appear here when you press "sync".</blockquote>
  <script src="/_ah/channel/jsapi"></script>
</div>
{% endblock %}
