{% set title = "Approvals" %}
{% extends "admin.html" %}

{% block main %}

<h2>Direct add users</h2>

<div ng-controller="ApprovalsController as ctrl" ng-cloak>
  <form ng-submit="ctrl.submit(ctrl.emails, ctrl.sendEmail)" class="form">
    <div class="form-field">
      <textarea class="form-field-control form-field-control--wide" ng-model="ctrl.emails" placeholder="Enter emails, separated by commas"></textarea>
    </div>
    <div class="form-field">
      <label><input type="checkbox" ng-model="ctrl.sendEmail">Send email notification to added users</label>
    </div>
    <div class="form-field">
      <button class="btn btn--sm" type="submit" role="button">Add users</button>
    </div>
  </form>

  <h2>Users</h2>

  <form>
    <div class="form-field">
      <a href="?format=csv" class="btn btn--sm">Download CSV</a>
    </div>
  </form>

  <table class="table">
    <thead>
      <th></th>
      <th>Email</th>
      <th>Date</th>
      <th>Approved by</th>
      <th>Action</th>
    </thead>
    <tbody>
        <tr ng-repeat="approval in ctrl.approvals">
          <td>
            <input type="checkbox">
          </td>
          <td>
            <a ng-href="./[[approval.ident]]/">[[approval.user.email]]</a>
          </td>
          <td>
            [[approval.created]]
          </td>
          <td>[[approval.updated_by.email]]</td>
          <td>
            <a href="javascript:" ng-click="ctrl.deleteApproval(approval.ident)">Delete</a>
          </td>
        </tr>
        {#
      {% else %}
        <tr>
          <td colspan="100">
            No users have requested access to your site yet. Only domain users in {{config.CONFIG.domain}} can access your site. Once an external user requests access, administrators will receive an email notification and the access request will appear here.
          </td>
      {% endfor %}
      #}
    </tbody>
  </table>
</div>
{% endblock %}
