{% extends "admin.html" %}

{% block main %}
  <h2>Settings</h2>

  <form class="form" method="post">
    {% for field in settings.to_form()|sort(attribute='name') %}
    <div class="form-field">
      <label class="form-field-label">{{field.name}}</label>
      {% for inner_field in field.fields %}
        {% if inner_field.indexed %}
            <input class="form-field-control form-field-control--wide" type="text" name="{{field.name}}" value="{{inner_field.value or ''}}">
        {% else %}
          <textarea class="form-field-control form-field-control--wide" name="{{field.name}}">{{inner_field.value or ''}}</textarea>
        {% endif %}
      {% endfor %}
    </div>
    {% endfor %}
    <div class="form-field">
      <button class="btn" type="submit">Save</button>
    </div>
  </form>

{% endblock %}
