{% extends "admin.html" %}

{% block main %}

<h1>Documentation</h1>

{% filter markdown %}
[TOC]

## Overview

Welcome to Airpress! Airpress is part asset management system, part documentation hub. Store and manage your assets and documentation in Google Drive then, with the press of a button, create a beautiful, branded, documentation site for you and partners. Here is a quick overview of the features:

- Content management in Google Drive
- Push-button sync to produce a partner hub
- Folder-by-folder access control
- See download counts on a per-asset basis

## Getting started

If you're here, you've already got Airpress deployed on App Engine. Airpress's frontend is an App Engine application. All your content (documentation and assets) are stored in Google Drive, so you'll need to tell Airpress where to find your Google Drive folder.

1. Create a "root folder" to use as the main folder for your site.
1. Copy the folder ID and make sure it matches the root folder ID **[Content Admin page]({{uri_for('admin')}})**.
1. Share this folder with Airpress. You must provide **edit** access to the following account: <code class="text-code--block">{{config.CONFIG.service_account}}</code>

## Folder structure

### Naming guidelines

Airpress works by reading the folder names in Google Drive and arranging content in a specific way, based on those folder names.

Here's an example folder name:

```
[1] Lorem Ipsum
```

The `[1]` part is the **sort order** of the folder. `[1]` precedes `[2]`, etc. The `Lorem Ipsum` part is the **name** of the folder, and what's displayed as the folder's title.

### Folder types

Airpress supports two different types of folders. A **global folder**, and **normal folders**.

- The **global folder** appears at the top left of the navigational menu, and **normal folders** appear beneath it.
- The **global folder** is available to all users that have access to your site.
- You can control access to **normal folders** on a folder-by-folder, user-by-user basis.

To indicate which folder in your root folder is the **global folder**, give it a sort order of `[-1]`. You might use the following as the name of the **global folder**: `[-1] Overview`.

### Asset folders

You can associate assets with a **normal folder** by creating a folder called **Assets** and placing it inside another folder. Once you do this, Airpress will treat that folder as the **asset folder** and display a list of assets.

You can group assets in an asset folder by using subfolders. For example, you might create separate folders for `Retail`, `Branding`, `Online`, etc. within each asset folder. This makes Airpress display assets organized by their category.

Lastly, you can provide assets in multiple file formats. Airpress will automatically group the same assets together as long as they have the same basename (the part of the filename, minus the file's extension).

## Access control

### Administrators

Administrators can view the `/admin/` section of the site, sync Airpress to Google Drive, review and approve access requests, and audit download counts. To add or remove administrators, visit the **[Administrators Admin page]({{uri_for('admin-admins')}})**.

### Requesting access

By default, members of your domain (**{{config.CONFIG.domain}}**) have access to all folders in your Airpress site. Users outside of {{config.CONFIG.domain}} will need to request access, and be approved by a site admin.

Here's how it works:

1. An external user lands on your homepage.
1. The user must sign in with their Google Account.
1. The user requests access by filling out a form.
1. Once the user has submitted the form, administrators will receive an email notification containing the access request.
1. The admin can review the access request and approve or deny access.
1. Once the admin has approved or denied access, the requesting user will receive another email notification.

## Open source

Airpress is an open source project released under the MIT License by the Grow SDK authors. You can [check out the open source project on GitHub](https://github.com/grow/airpress), where you can review the code or file issues. Thanks for using it!

{% endfilter %}
{% endblock %}
