{% import "_macros.html" as macros with context %}
<!doctype html>
<head>
  <meta charset="utf-8">
  <meta content="IE=Edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1.0,user-scalable=no" name="viewport">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=RobotoDraft:400,500,700,400italic" rel="stylesheet">
  <link rel="stylesheet" href="/_app/{{config.VERSION}}/assets/css/material/sass/main.css">
  {% block head_base %}
  {% endblock %}
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="/_app/{{config.VERSION}}/assets/js/main.min.js"></script>
  {% if settings.form.favicon_url %}
  <link rel="shortcut icon" href="{{settings.form.favicon_url}}">
  {% endif %}
  <title>{{title}} – {{settings.form.title}}</title>
  <style>
    * {
      {% if page %}
        --color-brand: {{page.color or page.parent.color or settings.form.color or "#039BE5"}};
        --color-brand-text: {{page.color or page.parent.color or settings.form.text_color or "#039BE5"}};
        {% if page.color %}
          --color-tout: {{page.color or page.parent.color or "#555"}};
        {% endif %}
      {% else %}
        --color-brand: {{settings.form.color or "#039BE5"}};
        --color-brand-text: {{settings.form.text_color or "#039BE5"}};
      {% endif %}
      --color-text-on-brand: {{settings.form.text_on_brand_color or "#fff"}};
    }
  </style>
</head>
<body>
  {% if enable_sidebar is not sameas false %}
    <script>
      airpress.menu.updateSidebar();
    </script>
  {% endif %}
  <div class="layout {{"layout--wide" if enable_sidebar is sameas false}}">
    {% block layout_base %}{% endblock %}
    {% if enable_sidebar is not sameas false %}
    <div class="layout-side">
      <div class="layout-side-top">
        <a href="{{uri_for('home')}}">
          {% if settings.form.logo_url %}
          <img src="{{settings.form.logo_url}}" class="layout-side-top-logo">
          {% elif config.CONFIG.logo %}
          <img src="{{macros.asset(config.CONFIG.logo)}}" class="layout-side-top-logo" {% if config.CONFIG.sidebar_logo_style %}style="{{config.CONFIG.sidebar_logo_style}}"{% endif %}>
          {% elif config.CONFIG.logo_url %}
            <img src="{{config.CONFIG.logo_url}}" class="layout-side-top-logo" {% if config.CONFIG.sidebar_logo_style %}style="{{config.CONFIG.sidebar_logo_style}}"{% endif %}>
          {% endif %}
          {% if not config.CONFIG.logo_url or config.CONFIG.sidebar_subtitle %}
            <div class="layout-side-top-subtitle"
              {% if config.CONFIG.sidebar_subtitle_style %}
              style="{{config.CONFIG.sidebar_subtitle_style}}"
              {% endif %}
              >
              {% if config.CONFIG.sidebar_subtitle
                  and (config.CONFIG.logo or config.CONFIG.logo_url) %}
                {{config.CONFIG.sidebar_subtitle}}
              {% else %}
                {{config.CONFIG.title or config.CONFIG.sidebar_title}}
              {% endif %}
            </div>
          {% endif %}
        </a>
      </div>
      {% block side %}

          <ul class="menu menu--hidden">
            {% if nav %}
              {% set items = nav[0]['folder']['children']['items'] %}
              {% for item in items|sort(attribute='weight') %}
              {{macros.render_menu_tree(item, config.CONFIG, active_resource_id=(page or folder).resource_id)}}
              {% endfor %}
            {% endif %}
          </ul>

          <div class="layout-side-bordered">
            <ul class="menu menu--hidden">
            {% if nav %}
              {% for nav_item in nav[1:] %}
                {% if not nav_item.folder %}{% continue %}{% endif %}
                {% set each_folder = nav_item['folder'] %}
                {% if not has_access(each_folder['resource_id']) %}
                  {% continue %}
                {% endif %}
                {{macros.render_menu_tree(each_folder, config.CONFIG, active_resource_id=(page or folder).resource_id)}}
              {% endfor %}
            {% endif %}
            </ul>
          </div>
        <div class="layout-side-bottom">
          {% if settings.form.sidebar_text %}
            {{settings.form.sidebar_text|safe}}
          {% endif %}
        </div>
      {% endblock %}
    </div>
    {% endif %}
    <div class="layout-main">
      <div class="layout-main-mask"></div>
      {% if enable_header is not sameas false %}
        <div class="layout-main-header" data-scroll-header>
          {% if enable_sidebar is not sameas false %}
          <i class="material-icons layout-main-header-menu">menu</i>
          {% endif %}
          {% if enable_sidebar is sameas false %}
            <div class="contained contained--sm">
          {% endif %}
          <div class="layout-main-header-title">
            {{title}}
          </div>
          <div class="layout-main-header-side">
            {% if me.registered %}
              <a href="{{uri_for('settings')}}">{{me.email}}</a> | <a href="{{urls.sign_out()}}">Sign out</a>
            {% else %}
              <a href="{{urls.sign_in()}}&prompt=select_account" class="btn btn--sm btn--inverted">Sign in</a>
            {% endif %}
          </div>
          {% if enable_sidebar is sameas false %}
            </div>
          {% endif %}
        </div>
      {% endif %}
      <div class="layout-main-content">
        {% block main %}
        {% endblock %}
      </div>
      {% block footer %}
      {% endblock %}
    </div>
  </div>
  {% block body_base %}{% endblock %}
  <script>
    airpress.menu.init();
    airpress.main();
  </script>
