{% set title = folder.title %}
{% extends "base.html" %}

{% macro render_assets(assets) %}
  <div class="assets">
    {% for group in assets|groupby('basename') %}
      <div class="assets-asset">
        <div class="assets-asset-image">
          <div class="assets-asset-image-thumbnail" style="background-image: url({{group.list[0].thumbnail_url}})"></div>
        </div>
        <div class="assets-asset-meta">
          <div class="assets-asset-meta-title">
            {{group.list[0].title}}
          </div>
          {% for asset in group.list %}
            <div class="assets-asset-meta-link">
              <a href="{{asset.download_url}}">{{asset.ext[1:]|upper}}</a> {{asset.size|filesizeformat}}</li>
            </div>
          {% endfor %}
        </div>
      </div>
    {% endfor %}
  </div>
{% endmacro %}

{% block main %}
  <div class="contained">

    <h1>{{folder.title}}</h1>

    <div class="toc">
      <ul>
        {% for f in folder.children['folders'] %}
        <li><a href="#{{f.slug}}">{{f.title}}</a></li>
        {% endfor %}
      </ul>
    </div>

    {% for f in folder.children['folders'] %}
    <hr>
    <h3 id="{{f.slug}}">{{f.title}}</h3>
    {{render_assets(f.children['assets'])}}
    {% endfor %}

    {{render_assets(folder.children['assets'])}}

  </div>
{% endblock %}
