{% if page.parent and page.parent.is_overview_folder %}
  {% set title = page.title %}
{% else %}
  {% set title = '{} › {}'.format(page.parent.title, page.title) %}
{% endif %}
{% extends "base.html" %}

{% block main %}
  <div class="page contained">
    {% block main_content %}
      <h1>{{page.title}}</h1>
      <div class="page-document">
        {{pretty_html|safe}}
      </div>
    {% endblock %}
  </div>
  {% if is_admin %}
    {{macros.render_admin_bar(page)}}
  {% endif %}
  <script>
    airpress.initTables();
  </script>
{% endblock %}

{% block footer %}
  {{macros.render_footer_nav_new(page or folder, is_admin=is_admin)}}
{% endblock %}
