{% set title = '{} › {}'.format(page.parent.title, page.title) %}
{% extends "base.html" %}

{% block main %}
  <div class="page contained">
    <h1>{{page.title}}</h1>
    <div class="page-document">
      {{page.pretty_html|safe}}
    </div>
    <div class="page-meta">
      Updated {{page.modified}}
    </div>
  </div>
  {{render_admin_bar(page)}}
  <script>
    $('table').each(function(i, $table) {
      var numCols = $(this).find('tr:first-child > td').size();
      $(this).addClass('cols-' + numCols);
    });

    var buildToc = function() {
      var tocEl = document.querySelector('.toc--auto ul');
      if (tocEl) {
        var els = document.querySelectorAll('h2');
        [].forEach.call(els, function(el, i) {
          var elId = 'toc-' + i;
          el.setAttribute('id', elId);
          var title = el.textContent;
          var listItemEl = $('<li><a href="#' + elId + '">' + title + '</a></li>');
          $(tocEl).append(listItemEl);
        });
      }
    };
    buildToc();
  </script>
{% endblock %}
